
.styled-input-single {
    position: relative;
    padding: 20px 0 20px 40px;
    text-align: left;
  }
  .styled-input-single label {
    cursor: pointer;
  }
  .styled-input-single label:before, .styled-input-single label:after {
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 50%;
  }
  .styled-input-single label:before {
    left: 0;
    width: 30px;
    height: 30px;
    margin: -15px 0 0;
    background: #f7f7f7;
    box-shadow: 0 0 1px grey;
  }
  .styled-input-single label:after {
    left: 5px;
    width: 20px;
    height: 20px;
    margin: -10px 0 0;
    opacity: 0;
    background: #7B68EE;
    -webkit-transform: translate3d(-40px, 0, 0) scale(0.5);
            transform: translate3d(-40px, 0, 0) scale(0.5);
    -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  }
  .styled-input-single input[type="radio"],
  .styled-input-single input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: -9999px;
    visibility: hidden;
  }
  .styled-input-single input[type="radio"]:checked + label:after,
  .styled-input-single input[type="checkbox"]:checked + label:after {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  
  .styled-input--square label:before, .styled-input--square label:after {
    border-radius: 0;
  }
  
  .styled-input--rounded label:before {
    border-radius: 10px;
  }
  .styled-input--rounded label:after {
    border-radius: 6px;
  }
  
  .styled-input--diamond .styled-input-single {
    padding-left: 45px;
  }
  .styled-input--diamond label:before, .styled-input--diamond label:after {
    border-radius: 0;
  }
  .styled-input--diamond label:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .styled-input--diamond input[type="radio"]:checked + label:after,
  .styled-input--diamond input[type="checkbox"]:checked + label:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 1;
  }
  
  /* body {
    font-family: sans-serif;
    max-width: 750px;
    margin: 0 auto;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
  } */
  
  /* h1 {
    font-size: 2.2rem;
    text-transform: uppercase;
    text-decoration: underline;
    margin-left: -25%;
    white-space: nowrap;
  } */
  
  h4 {
    font-size: 23px;
    margin-left: -60px;
    white-space: nowrap;
  }
  
  
.pen-intro {
	width: 100%;
	display: center;
}

.two-column:after {
  content: "";
  display: table;
  clear: both;
}

.two-column {
  margin: 0 0 40px;
}
@media (min-width: 860px) {
  .two-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.two-column .single-col {
  margin: 0 0 40px;
}
@media (min-width: 860px) {
  .two-column .single-col {
    width: 47.5%;
    float: left;
    margin: 0 0 0 5%;
  }
  .two-column .single-col:nth-child(2n+1) {
    clear: both;
    margin: 0;
  }
}

.coluna1{
    width: 50%;
    height: auto;
    display: inline;
}


.coluna2{
    width: 50%;
    height: auto;
    display: inline-block;
}

input[type=submit]{
    background: #7B68EE;
    border-radius: 5px;
    text-align: center;
    color: #f7f7f7;
    border:none;
    padding: 15px;
    width: 100px;
   /* transition:0.8s;*/
    font-weight: bold;
}
/*
input[type=submit]:hover{
    background: #fff;
    border-radius: 5px;
    text-align: center;
    color: #7B68EE;
    border:none;
    padding: 20px 15px 20px 15px;
    width: 100px;
    /*transition:0.8s;
    font-weight: bold;
}
*/
input[type=reset]{
    background: #212529;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    border:none;
    padding: 20px 15px 20px 15px;
    width: 100px;
    transition:0.8s;
}

input[type=reset]:hover{
    background: #212529;
    border-radius: 20px;
    text-align: center;
    color: #7B68EE;
    border:none;
    padding: 20px 15px 20px 15px;
    width: 100px;
    transition:0.8s;
}

.table {
color: white;

}
